/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    margin: 0%; /* Removed default margin */
}

img {
    display: block;
    width: 100%;
}

.container {
    margin: 0 auto;
    border: 5px solid red;
    max-width: 935px;
    padding: 4rem 0; /* Used rem value for responsiveness */
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Created 2 columns in profile */
}

.profile-user-settings, .profile-stats ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; /* Created 3 rows in second column of profile */
}

.gallery-image {
    width: 100%;
}


