/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    margin: 0%; /* Removed default margin */
}

img {
    display: block;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 90rem;
    padding: 0 4rem; /* Used rem value for responsiveness */
}

header {
    border-bottom: 0.1rem solid none;
    padding: 4rem 0;
}

/* Profile Section */

.profile {
    display: flex;
    padding: 20px;
}

.profile-image {
    margin-right: 3rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img{
    border-radius: 50%;
    border: 7px solid #0f5329;
    object-fit: cover;
}

.profile-user-settings {
    display: flex;
    align-items: center;  /* Created 3 rows in second column of profile */
    margin-top: 2rem;
}

.profile-user-name {
    font-weight: lighter;
    margin-right: 2rem;
}

.profile-stats ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-stats {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 1.2rem;
}

.profile-stat-count, .profile-real-name {
    font-weight: bolder;
}

.profile-bio {
    font-size: 1.2rem;
}

.gallery {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    overflow: hidden;
}
